h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(141, 0, 0);
}

body {
    margin: 0;
    background: rgb(30, 23, 56);
    text-align: center;
}

